@model NK_EMPWeb.Models.EmployeeManagement.Emp_ClientMasterDetailsModels

@{
    ViewBag.Title = "Edit Client";
}
@section style
{
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">
}
<div class="breadcrumb-header justify-content-between">
    <div class="my-auto">
        <div class="d-flex">
            <h4 class="content-title mb-0 my-auto">Employee Mangment</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Add New Client</span>
        </div>
    </div>
</div>
<!-- breadcrumb -->
<!-- row -->
<div class="row" ng-app="ClientMasterApp" ng-controller="ClientMasterController">
    <div class="col-xl-12 col-lg-12" id="editclient">
        <!--Dashboard Code start-->
        <div class="card mg-b-20">
            <div class="custom-card">
                <div class="card-body">
                    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "editclient" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="ClientName">Client Name</label>
                                        @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control", @id = "ClientName", @placeholder = "Enter Client Name" } })
                                        @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Contact">Contact</label>
                                        @Html.EditorFor(model => model.ClientContact, new { htmlAttributes = new { @class = "form-control", @id = "Contact", @placeholder = "Enter Contact" } })
                                        @Html.ValidationMessageFor(model => model.ClientContact, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        @Html.EditorFor(model => model.ClientAddress, new { htmlAttributes = new { @class = "form-control", @id = "address", @placeholder = "Enter Address" } })
                                        @Html.ValidationMessageFor(model => model.ClientAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        @Html.EditorFor(model => model.ClientCity, new { htmlAttributes = new { @class = "form-control", @id = "city", @placeholder = "Enter City" } })
                                        @Html.ValidationMessageFor(model => model.ClientCity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        @Html.EditorFor(model => model.ClientState, new { htmlAttributes = new { @class = "form-control", @id = "state", @placeholder = "Enter State" } })
                                        @Html.ValidationMessageFor(model => model.ClientState, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">Country</label>
                                        @Html.DropDownList("ClientCountry", ViewBag.country as IEnumerable<SelectListItem>, "Choose Country", new { @id = "ClientId", @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.ClientCountry, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="designation">Designation</label>
                                        @Html.EditorFor(model => model.ClientDesignation, new { htmlAttributes = new { @class = "form-control", @id = "designation", @placeholder = "Enter designation" } })
                                        @Html.ValidationMessageFor(model => model.ClientDesignation, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="mailID">Email ID</label>
                                        @Html.EditorFor(model => model.ClientMailID, new { htmlAttributes = new { @class = "form-control", @id = "mailID", @placeholder = "Enter Email ID" } })
                                        @Html.ValidationMessageFor(model => model.ClientMailID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="gstNo">GST No</label>
                                        @Html.EditorFor(model => model.ClientGSTNO, new { htmlAttributes = new { @class = "form-control", @id = "gstNo", @placeholder = "Enter GST No" } })
                                        @Html.ValidationMessageFor(model => model.ClientGSTNO, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="panCardno">PAN Card No</label>
                                        @Html.EditorFor(model => model.ClientPanCardNo, new { htmlAttributes = new { @class = "form-control", @id = "panCardno", @placeholder = "Enter PAN Card No" } })
                                        @Html.ValidationMessageFor(model => model.ClientPanCardNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="uploadFile">Upload Document</label>
                                        <div class="custom-file">
                                            <input class="custom-file-input" id="uploadFile" type="file"> <label class="custom-file-label" for="uploadFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="remark">Remark</label>
                                        @Html.EditorFor(model => model.ClientRemark, new { htmlAttributes = new { @class = "form-control", @id = "remark", @placeholder = "Enter Remark" } })
                                        @Html.ValidationMessageFor(model => model.ClientRemark, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm text-center justify-content-center">
                                <div class="col-sm-6 col-md-3 mg-t-10">
                                    <button type="submit" class="btn btn-primary btn-block" id="updateClient" data-target="#updateClient" data-toggle="modal">Submit</button>
                                </div>
                                <div class="col-sm-6 col-md-3 mg-t-10">
                                    <button type="button" ng-click="cancel()" class="btn btn-light btn-block">Cancel</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!--Dashboard Code End-->
    </div>
</div>
<!-- row closed -->

<div class="modal" id="updateClient" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-success tx-semibold mg-b-20">Congratulations!</h4>
                <p class="mg-b-20 mg-x-20">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p><button aria-label="Close" class="btn ripple btn-success pd-x-25" data-dismiss="modal" type="button">Continue</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/js/select2.js"></script>
    <script src="~/Scripts/Angular/EmployeeManagement/Services/ClientMasterServices.js"></script>
    <script src="~/Scripts/Angular/EmployeeManagement/JS/ClientMasterController.js"></script>
}